@page
@model comp4513_blogsite.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<div class="row">
    <div class="col-md-8">
        <h1>@Model.Post.Title</h1>
        <p>@Model.Post.Content</p>

        <div class="mt-4">
            <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@Model.Post.Id">Delete</a> |
            <a asp-page="/Index">Back to List</a>
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Related posts</h2>
        <ul>
            @foreach (var relatedPost in Model.RelatedPosts)
            {
                <li>
                    <a asp-page="/Posts/Details" asp-route-id="@relatedPost.Id">@relatedPost.Title</a>
                </li>
            }
        </ul>
    </div>
</div>